/******************* client_logo *****************/
.client_logo{
    .single_client_logo{
        height: 125px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        float: left;

        @media #{$small_mobile}{
            height: 70px;
            width: 50%;
            padding: 6px;
        }
        @media #{$large_mobile}{
        height: 100px;
        padding: 8px;
        }
        @media #{$tab_device}{
            height: 100px;
            padding: 10px;
        }
        @media #{$medium_device}{

        }

        @media #{$small_mobile}{

        }
        @media #{$large_mobile}{

        }
        @media #{$tab_device}{

        }
        @media #{$medium_device}{

        }
    }
}
