#gotoform {
  min-width: 200px
}

#gotoform.disabled {
  display: none;
}

.our_offer {
    .select2-container, select {
        margin-bottom: 20px
    }
}

.social-links-header {
    margin-top: 30px;
}

.social-links {
    margin-left: auto;
    margin-right: auto;
    max-width: 222px;
    margin-top: 10px;

    .telegram-link {
        img {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 991px) {
    .nav-item {
        #st-1 {
            text-align: center;
        }
    }
}

@media (min-width: 992px) {
    .nav-item {
        .sharethis-inline-share-buttons {
            margin-top: 24px;
            position: absolute;
            right: 0;
        }
    }
}

table {
  thead {
    th {
      background-color: #00AEB9;
      color: $white_color;
      padding: 10px;
      position: sticky;
      top: 80px;
      z-index: 998;
    }
  }
  tbody {
    tr {
      td {
         padding: 10px;
         text-align: center;
         letter-spacing: 1px;
      }
      td:nth-child(1) {
         text-align: left;
        font-weight: bold;
      }
      &:hover {
        background-color: #eee;
      }
    }
  }
}

@media (max-width: 991px) {
  table {
    thead {
      th {
        top: 55px;
      }
    }
  }
}

.results.section_padding {
  padding: 60px 0px !important;
}
.results {
  h3 {
    font-weight: bold;
  }
  p {
    text-align: center;
  }
  b {
    font-weight: bold;
    color: $black_color;
  }
  a {
    color: $btn_bg !important;
    font-weight: bold;
  }
  .btn_2 {
    color: $white_color !important;
    font-weight: normal;
  }
}
.separated {
  .row {
    padding: 30px 0px;
  }
}
